*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  background: #fcfcfc;;
}

@media (max-width: 1200px) {
  html {
    font-size: 54%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

.App {
  position: relative;
}