.sign-form {
  width: 70rem;
  margin: 7rem auto;
  text-align: center;
}

.sign-heading {
  font-size: 3rem;
  color: #222;  
  margin-bottom: 4rem;
}

.sign-label {
  font-size: 1.5rem;
  display: inline-block;
  width: 7.5rem;
  margin-right: 2rem;
  text-align: right;
}

.sign-input {
  width: 30rem;
  font-size: 1.4rem;
  padding: .75rem 1.5rem;
  margin-bottom: 3rem;
  border: 1px solid #777;
  border-radius: 4px;
}

.sign-form-btn {
  font-size: 1.4rem;
  padding: 1rem 1.75rem;
  background-color: #007AEF;
  margin: 0;
  margin-bottom: 2.5rem;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.sign-text {
  font-size: 1.4rem;
}

.sign-link,
.sign-link:active,
.sign-link:visited {
  text-decoration: none;
  color: orangered;
}